@import './utils/variables';
@import './utils/placeholders';

@import './base/reset';
@import './base/container';
@import './base/section';

@import './components/backdrop';
@import './components/modal-button';
@import './components/form-footer';
@import './components/header-contacts';
@import './components/header-menu';
@import './components/logo';
@import './components/modal-form';
@import './components/title';
@import './components/hero-button';
@import './components/clients';
@import './components/features';
@import './components/footer';
@import './components/header';
@import './components/hero';
@import './components/portfolio';
@import './components/services';
@import './components/team';
@import './components/mobile-menu';
