:root {
    --primary-text-color: #757575;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --white-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --logo-color: #000000;
    --dark-font-color: #2F303A;
    --light-font-color: #F5F4FA;
    --border-header-color: #ECECEC;
    --icon-socialy-color: #AFB1B8;
}